@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

body {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
html {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
